* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 17px;
    text-decoration: none;
}
h1{
    font-size: 40px;
    font-weight: 700;
    color: #ffaa00ee;
    font-family:'Times New Roman', Times, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 40px;

}
#itens {
    display: flex;
    gap: 20px;
}
#Apresentaçao {
    padding: 20px;
    margin: 20px;
    background-color: rgb(17, 18, 25);
    justify-content: space-between;
    border-radius: 12px;
    gap: 20%;

}
#Apresentaçao img {
    width: 100%;
    height: 600px;
    border-radius: 12px;

}
#Apresentaçao h2{
    font-size: 30px;
    font-weight: 700;
    color: #ffaa00ee;
    font-family:'Times New Roman', Times, sans-serif;
}
#personagens-texto{
    margin-bottom: 24px;
}
#personagens-texto h2 {
    font-size: 24px;
    font-weight: 700;
    color: #ffaa00ee;
    font-family:'Times New Roman', Times, sans-serif;
}
#servicos {
    padding: 20px;
    margin: 20px;
    background-color: rgb(23, 22, 30);
    border-radius: 12px;;
}

#fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

}
.personagens-cards {
    width: 500px;
    height: auto;
    border-radius: 12px;
    background-color: rgb(28, 28, 43);
    padding: 10px;

}
.personagens-cards h3 {
    font-size: 20px;
    font-weight: 700;
    color: #ffaa00ee;
    font-family:'Times New Roman', Times, sans-serif;
}
.personagens-cards img  {
        border-radius: 20px;
        width: 100%;
        height: 350px;
        object-fit: cover;
        padding: 10px;
}

footer {
    padding: 20px;
}

#identificacao {
    display: flex;
    gap: 20px;

}.textinho{
    color: #fb7100ee;
    font-size: 13px;
    text-transform: uppercase;
}